@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat-Regular'), url(../assets/fonts/montserrat.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@keyframes type {
    from {
        width: 0;
    }
}
@media screen and (max-width: 600px) {
    .side-nav {
        top: 56px !important;
    }
}
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: local('Material Icons'), local('MaterialIcons-Regular'), url(../assets/icons/material-icon.woff2) format('woff2');
}
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}
body, h1, h2, h3, h4, h5, h6, p {
    font-family: Montserrat, sans-serif !important;
}
ul {
    list-style-type: none;
}
.black-table {
    text-align: left;
}
body, table, tr, td, .top-bar, .menu, .side-nav {
    background-color: black !important;
}
table, tr, td {
    border: 1px solid black !important;
}
body, a:link, a:visited, h4:hover, .no-hover:hover, .click:hover, .about-header:hover {
    color: white;
}
.btn {
    color: white !important;
    border-radius: 5px;
    background-color: #0095EC !important;
    font-size: 1em;
    padding-left: 10px;
    padding-right: 10px;
}
a:hover, h4, h5:hover {
    color: #3bc9ff;
}
.about-header, .label-170 {
    color: #00aced;
}
.btn:hover {
    background-color: #007cc5 !important;
}
.side-nav {
    width: 145px;
}
.underline {
    text-decoration: underline;
}
.label-170 {
    font-size: 1.1em;
}
.larger {
    font-size: 1.15em !important;
}
.smaller {
    font-size: 1.4em !important;
}
.name {
    font-size: 1.5em !important;
}
.nav {
    padding-top: .125em;
    font-size: 1.25em;
}
.two-brs {
    padding-bottom: 2em;
}
.one-br {
    padding-bottom: 1em;
}
.pad-right {
    padding-right: 1em !important;
}
.pad-left {
    padding-left: 1em !important;
}
.spaces {
    white-space: pre-wrap;
}
.profpic {
    border-radius: 100% !important;
    max-width: 180px;
}
.fade {
    position: absolute;
    top: auto;
    left: 0;
    right: 0;
}
.fade.ng-enter, .fade.ng-leave {
    -webkit-transition: all 1.3s ease;
    transition: all 1.3s ease;
}
.fade.ng-enter {
    opacity: 0;
}
.fade.ng-enter-active {
    opacity: 1;
}
.fade.ng-leave {
    opacity: 1;
}
.fade.ng-leave-active {
    opacity: 0;
}
.typed {
    width: 34em;
    white-space: nowrap;
    overflow: hidden;
    -webkit-animation: type 5s steps(50, end);
    animation: type 5s steps(50, end);
    font-family: inherit;
    display: inline-block;
}
.hidden {
    display: none;
}