@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/MontserratRegular.woff2") format("woff2"),
    url("../assets/fonts/MontserratRegular.woff") format("woff"),
    url("../assets/fonts/MontserratRegular.ttf") format("truetype");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
  font-family: "Material Design Icons";
  src: url("../assets/fonts/mdi/materialdesignicons-webfont.eot") format("embedded-opentype"),
    url("../assets/fonts/mdi/materialdesignicons-webfont.woff2") format("woff2"),
    url("../assets/fonts/mdi/materialdesignicons-webfont.woff") format("woff"),
    url("../assets/fonts/mdi/materialdesignicons-webfont.ttf") format("truetype"),
    url("../assets/fonts/mdi/materialdesignicons-webfont.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

a:hover {
  color: #05E9FF !important;
}

body, a:link, a:visited, .click:hover {
  color: white;
}

body, h1, h2, h3, h4, h5, h6, p {
  font-family: 'Montserrat', sans-serif !important;
}

body, table, tr, td, .top-bar, .menu, .side-nav {
  background-color: black !important;
}

h2 {
  font-size: 175%;
  font-weight: bold;
}

table, tr, td {
  border: 1px solid black !important;
}

.align-top {
  vertical-align: top;
}

.btn {
  border-radius: 5px;
  font-size: 1em;
  padding-left: 10px;
  padding-right: 10px;
}

.btn:hover {
  opacity: 0.85;
}

.burger {
  padding-top: .25em;
  font-size: 2em;
}

.fade {
  position: absolute;
  top: auto;
  left: 0;
  right: 0;
}

.fade.ng-enter, .fade.ng-leave {
  -webkit-transition: all 1.5s ease;
  transition: all 1.5s ease;
}

.fade.ng-enter {
  opacity: 0;
}

.fade.ng-enter-active {
  opacity: 1;
}

.fade.ng-leave {
  opacity: 1;
}

.fade.ng-leave-active {
  opacity: 0;
}

.five-brs-above {
  padding-top: 5em;
}

.flex {
  display: flex;
  align-items: center;
}

.half-br {
  padding-bottom: 0.5em;
}

.label-170 {
  font-size: 1.1em;
  color: #00aced;
}

.larger {
  font-size: 1.2em !important;
}

.left-text {
  text-align: left;
}

.list {
  list-style-type: disc;
}

.much-larger {
  font-size: 1.35em !important;
}

.name {
  font-size: 1.5em !important;
}

.nav {
  padding-top: .125em;
  font-size: 1.25em;
}

.no-padding {
  padding: 0;
}

.one-br {
  padding-bottom: 1em;
}

.one-br-above {
  padding-top: 1em;
}

.pad-left {
  padding-left: 0.5em !important;
}

.pad-right {
  padding-right: 1em !important;
}

.pad-top {
  padding-top: 1em !important;
}

.pad-bottom {
  padding-bottom: 50px !important;
}

.profpic {
  border-radius: 100% !important;
}

.projTitle {
  width: 18%;
}

.resume-list {
  text-align: left;
  float: left;
}

.sidenav {
  top: 56px !important;
  width: 165px;
  background-color: black;
}

.sidenav a {
  font-size: 18px !important;
  color: white !important;
}

.sidenav a:hover {
  color: #05E9FF !important;
}

.two-brs {
  padding-bottom: 2em;
}
