body{
	color: white;
	background-color: black;
	font-family: Montserrat, Arial, sans-serif;
}
.profpic{
    border-radius: 100% !important;
}
.bar{
	display: inline;
	background-color: black;
	transition: background-color 0.5s ease;
	padding: 5px 5px;
	border: 2px solid transparent;
	text-decoration: none;
	font-size: large;
}
.bar:hover {
	background-color: white;
	border-top:2px solid #777777;
	border-right:2px solid #aaaaaa;
	border-bottom:2px solid #aaaaaa;
	border-left:2px solid #777777;
}
.projectsli{
	text-decoration: none;
	text-align: center;
	margin: 15px 0;
}
.stretch {
	width:100%;
	height:100%;
}
.typed {
    width: 34em;
    white-space:nowrap;
    overflow:hidden;
    -webkit-animation: type 5s steps(50, end);
    animation: type 5s steps(50, end);
}
.about_list {
	font-size: 110%;
}
.about_list:hover {
	color: #00aced;
}
a:link {
	color: white;
}
a:visited {
	color: white;
}
a:hover {
	color: #00aced;
}
h1, h2, h3, h4 {
	text-align: center;
	color: #00aced;
}
h5 {
	text-align: center;
}
h1:hover, h2:hover, h3:hover, h4:hover {
	color: white;
}
h5:hover {
	color: #00aced;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
p {
	text-align: center;
}
p:hover{
	color: #00aced;
}
@keyframes type{ 
  from { width: 0; } 
} 

