#background {
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0px;
	top: 0px;
	z-index: -1;
	color: black;
}
#hello {
	opacity: 0;
}
#monkey {
	opacity: 0;
}
.stretch {
	width:100%;
	height:100%;
}
.typed
{
    width: 34em;
    white-space:nowrap;
    overflow:hidden;
    -webkit-animation: type 5s steps(50, end);
    animation: type 5s steps(50, end);
}
.auto-style1, .auto-style2, .auto-style5 {
	font-family: Montserrat, Arial, Helvetica, sans-serif;
	text-align: center;
	color: white;
}
.auto-style6 {
	color: white;
	font-size: large;
}
.auto-style7 {
	text-decoration: underline;
}
.auto-style8 {
	text-decoration: none;
}
.auto-style9 {
	font-family: Montserrat, Arial, Helvetica, sans-serif;
	text-align: left;
}
.auto-style10 {
	font-size: large;
}
.auto-style11 {
	color: white;
}
.auto-style12 {
	font-size: large;
	text-decoration: none;
}
.auto-style13 {
	font-family: Montserrat, Arial, Helvetica, sans-serif;
	text-align: left;
	color: white;
}
.auto-style14 {
	font-family: Montserrat, Arial, Helvetica, sans-serif;
	color: white;
}
.auto-style15 {
	color: white;
	font-size: large;
	font-family: Montserrat, Arial, Helvetica, sans-serif;
}
.auto-style16 {
	font-family: Montserrat, Arial, Helvetica, sans-serif;
	text-align: center;
	color: white;
	font-size: x-large;
}
.auto-style17 {
	text-decoration: none;
	text-align: center;
}
.auto-style18 {
	text-align: center;
}
.auto-style19 {
	width: 100%;
	height: 100%;
	color: white;
	font-family: Montserrat, Arial, Helvetica, sans-serif;
}
.auto-style20 {
	color: white;
	font-size: x-large;
	font-family: Montserrat, Arial, Helvetica, sans-serif;
}
.auto-style21 {
	font-size: medium;
	text-decoration: none;
}
.auto-style22 {
	color: white;
	font-size: medium;
	font-family: Montserrat, Arial, Helvetica, sans-serif;
}
.auto-style23 {
	font-size: medium;
}
.auto-style24 {
	font-family: Montserrat, Arial, Helvetica, sans-serif;
	text-align: left;
	color: white;
	font-size: medium;
}
a:link {
	color: white;
}
a:visited {
	color: white;
}
a:hover {
	color: cyan;
}
h1, h2, h3, h4 {
	font-family: Montserrat, Arial, Helvetica, sans-serif;
	text-align: center;
	color: cyan;
}
h1:hover, h2:hover, h3:hover, h4:hover {
	color: white;
}
h5 {
	color: white;
	text-align: center;
}
h5:hover {
	color: cyan;
}
@keyframes type{ 
  from { width: 0; } 
} 

