<div class="container center">
  <h1>About Me!</h1>
  <div class="two-brs hide-on-small-and-down"></div>
  <div class="row">
    <div class="s12 l6 col">
      <img class="profpic responsive-img" src="assets/images/self-photo.png" title="Profile photo" alt="self profile photo" width="250px">
    </div>
    <div class="s12 l6 col hide-on-large-only">
      <div class="two-brs"></div>
      <p class="larger">
        Hi I'm Edmond, a software engineer for L3Harris Technologies. In my free time, I write reviews for video games (and sometimes other media),
        and upload YouTube videos for the game Yu-Gi-Oh Master Duel. 
      </p>
    </div>
    <div class="s12 l6 col hide-on-med-and-down">
      <div class="two-brs"></div>
      <p class="larger left-text">
        Hi I'm Edmond, a software engineer for L3Harris Technologies. In my free time, I write reviews for video games (and sometimes other media),
        and upload YouTube videos for the game Yu-Gi-Oh Master Duel. 
      </p>
    </div>
  </div>
  <div class="two-brs hide-on-med-and-down"></div>
  <div class="row">
    <div class="col s4"></div>
    <div class="col s4">
      <h3>
        <a href="https://www.linkedin.com/in/edm0ndwu" target="_blank" class="waves-effect">
          <i class="mdi mdi-linkedin-box"></i>
        </a>
        <a href="https://edmond-wu0895.medium.com/" target="_blank" class="waves-effect">
          <i class="mdi mdi-medium"></i>
        </a>
        <a href="https://www.youtube.com/@bingchillingmd" target="_blank" class="waves-effect">
          <i class="mdi mdi-youtube"></i>
        </a>
      </h3>
    </div>
    <div class="col s4"></div>
  </div>
</div>
