<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>About Me</title>
    <meta name="description" content="Basic personal information like education, profession, hobbies, etc.">
    <link rel="shortcut icon" type="image/x-icon" href="../assets/images/favicon.ico"/>
    <link rel="stylesheet" href="../css/vendor/foundation.min.css"/>
    <link rel="stylesheet" href="../css/stylesheet.css"/>

    <script type="text/javascript" src="../js/vendor/jquery.js"></script>
    <script type="text/javascript" src="../js/vendor/foundation.min.js"></script>
    <script type='text/javascript' src='../js/script.js'></script>
</head>
<body>
<div class="show-for-small-only row two-brs">
    <table>
        <tr>
            <td class="text-center mobile-table"><b><a href="../index.html">HOME</a></b></td>
            <td class="text-center mobile-table"><b><a href="../views/contact.html">CONTACT</a></b></td>
        </tr>
        <tr>
            <td class="text-center mobile-table"><b><a href="../views/projects.html">PROJECTS</a></b></td>
            <td class="text-center mobile-table"><b><a href="../views/CS170.html">CS170</a></b></td>
        </tr>
    </table>
</div>
<ul class="show-for-medium two-brs">
    <li class="bar"><b><a href="../index.html">HOME</a></b></li>
    <li class="bar"><b><a href="about.html">ABOUT</a></b></li>
    <li class="bar"><b><a href="contact.html">CONTACT</a></b></li>
    <li class="bar"><b><a href="projects.html">PROJECTS</a></b></li>
    <li class="bar"><b><a href="CS170.html">CS170</a></b></li>
</ul>
<div class="text-center two-brs title">
    <img src="../assets/images/about-me.png">
</div>
<div class="text-center delay1 two-brs">
    <img class="profpic" src="../assets/images/self_photo.jpg">
</div>
<div class="row two-brs">
    <h5 class="delay2">(Click the fields to toggle them!)</h5>
</div>
<div class="row delay2">
    <div class="small-4 columns">
        <h5 class="about-header toggle"><b>Basic Info:</b></h5>
        <p class="text-left toggled">I'm Edmond Wu, someone who loves a bunch of things, from coding to playing the viola, or even
            acquiring gainz. I'm always seeking new things to try and making new friends!</p>
    </div>
    <div class="small-4 columns">
        <h5 class="about-header toggle-academics"><b>Academic Info:</b></h5>
        <p class="academics-toggled text-left"><b><i>Rutgers University - New Brunswick</i></b>, Class of 2017, majoring in Computer Science
            and currently a rising senior.</p>
    </div>
    <div class="small-4 columns">
        <h5 class="about-header toggle-work"><b>Professional Info:</b></h5>
        <p class="work-toggled text-left">Currently a software engineering intern for Harris Corporation in Herndon, Virginia. I'm also a
            part-time lecturer/TA for the Rutgers business/CS course, Computer Applications for Business, during the
            academic year.</p>
    </div>
</div>
</body>
</html>
