<div class="container center">
  <h1><img src="assets/images/developer.png" class="responsive-img" title="Developer" alt="developer title logo"></h1>
  <div class="one-br hide-on-small-and-down"></div>
  <div class="row two-brs">
    <div class="s12 l6 col">
      <img class="profpic one-br-above" src="assets/images/self-photo.png" title="Profile photo" alt="self profile photo">
    </div>
    <div class="s12 l6 col">
      <p class="left-text one-br larger">
          My name is Edmond Wu, and I am a software engineer for Harris Corporation, having graduated from Rutgers University with a degree in computer science.
          I am driven and disciplined, and I constantly seek opportunities to improve both my personal and technical skills.
        </p>
      <article>
        <div slider-toggle class="btn waves-effect waves-light larger blue"><b>Hobbies & Interests</b></div>
        <p slider class="left-text">
          Some activities I enjoy include programming, discovering/eating good food, playing the viola, and working out. I also volunteer for the
          <a href="https://www.tzuchi.us/" target="_blank" class="waves-effect">Tzu-Chi Foundation</a>,
          and during college, I was an active member of the <a href="https://rutgerstc.github.io/" target="_blank" class="waves-effect">Rutgers chapter</a>,
          serving various positions from webmaster to president.
        </p>
      </article>
    </div>
  </div>
  <h5 class="one-br"><i>"When in doubt, use brute force."</i></h5>
  <div class="two-brs">
    <div class="btn waves-effect waves-light larger red"><a class="waves-effect" href="#!projects"><b>Check out my projects!</b></a></div>
  </div>
</div>
