<div class="container">
  <h1 class="center">Blog</h1>
  <p class="larger center one-br">
    Check out my <a href="https://medium.com/@edmond.wu0895" class="waves-effect" target="_blank"><b>Medium</b></a> to read more! I write comprehensive reviews covering various games I play.
  </p>
  <div id="retainable-rss-embed"
       data-rss="https://medium.com/feed/@edmond.wu0895"
       data-maxcols="2"
       data-layout="grid"
       data-poststyle="inline"
       data-offset="-100">
  </div>
</div>
