<div class="container center">
    <div class="two-brs">
        <h1>
            <img src="assets/images/contact-me.png" class="responsive-img" alt="contact">
        </h1>
    </div>
    <div class="row">
        <div class="col s12 m4 offset-m4">
            <h5 class="smaller left-align one-br">
                <a href="mailto:edmond.wu0895@gmail.com">
                    <span class="spaces"><i class="mdi mdi-mail-ru"></i>    edmond.wu0895@gmail.com</span>
                </a>
            </h5>
            <h5 class="smaller left-align one-br">
                <a href="https://www.linkedin.com/in/edm0ndwu" target="_blank">
                    <span class="spaces"><i class="mdi mdi-linkedin-box"></i>    Edmond Wu</span>
                </a>
            </h5>
            <h5 class="smaller left-align two-brs">
                <a href="https://github.com/The-WUUSTER" target="_blank">
                    <span class="spaces"><i class="mdi mdi-github-box">    </i>The-WUUSTER</span>
                </a>
            </h5>
        </div>
    </div>
    <div class="one-br"></div>
    <div class="hide-on-med-and-down typed">
        <h5><i>Feel free to reach out!</i></h5>
    </div>
    <div class="hide-on-large-only">
        <h5><i>Feel free to reach out!</i></h5>
    </div>
</div>
