<div class="container center">
  <div class="one-br">
    <h1><img src="assets/images/contact-me.png" class="responsive-img" alt="contact" /></h1>
  </div>
  <div class="row">
    <div class="col s6">
      <h2 class="right-align pad-right">
                <a href="mailto:edmond.wu0895@gmail.com" class="waves-effect">
                    <i class="mdi mdi-email"></i>
                </a>
            </h2>
    </div>
    <div class="col s6">
      <h2 class="left-align pad-left">
                <a href="https://www.linkedin.com/in/edm0ndwu" target="_blank" class="waves-effect">
                    <i class="mdi mdi-linkedin-box"></i>
                </a>
            </h2>
    </div>
  </div>
  <div class="row">
    <div class="col s6">
      <h2 class="right-align pad-right">
            <a href="https://github.com/Edmond-Wu" target="_blank" class="waves-effect">
                <i class="mdi mdi-github-box"></i>
            </a>
        </h2>
    </div>
    <div class="col s6">
      <h2 class="left-align pad-left">
            <a href="https://twitter.com/Ed_D4rius" target="_blank" class="waves-effect">
                <i class="mdi mdi-twitter-box"></i>
            </a>
        </h2>
    </div>
  </div>
  <div class="one-br"></div>
  <h5><i>Feel free to reach out!</i></h5>
</div>
