<div class="container center">
  <h1><img src="assets/images/contact-me.png" class="responsive-img" title="Contact Me!" alt="contact title logo" /></h1>
  <div class="one-br hide-on-small-and-down"></div>
  <div class="row">
    <div class="col s12 l3">
      <h2>
        <a href="mailto:edmond.wu0895@gmail.com" class="waves-effect">
          <i class="mdi mdi-email"></i>
        </a>
      </h2>
    </div>
    <div class="col s12 l3">
      <h2>
        <a href="https://www.linkedin.com/in/edm0ndwu" target="_blank" class="waves-effect">
          <i class="mdi mdi-linkedin-box"></i>
        </a>
      </h2>
    </div>
    <div class="col s12 l3">
      <h2>
        <a href="https://twitter.com/Ed_D4rius" target="_blank" class="waves-effect">
          <i class="mdi mdi-twitter-box"></i>
        </a>
      </h2>
    </div>
    <div class="col s12 l3">
      <h2>
        <a href="https://plus.google.com/+EdWu20xx" target="_blank" class="waves-effect">
          <i class="mdi mdi-google-plus-box"></i>
        </a>
      </h2>
    </div>
  </div>
  <div class="two-brs"></div>
  <h5 class="one-br">Feel free to reach out via email or social media!</h5>
  <p class="larger">
    <a href="https://medium.com/@edmond.wu0895" target="_blank" class="waves-effect"><b>Medium Blog Link</b></a>
  </p>
</div>
