<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>CS 170</title>
		<meta name="description" content="Information and resources for the Rutgers undergraduate course: Computer Applications for Business.">
		<link rel="shortcut icon" type="image/x-icon" href="../assets/images/favicon.ico"/>
		<link rel="stylesheet" href="../css/vendor/foundation.css"/>
		<link rel="stylesheet" href="../css/stylesheet.css"/>

		<script type="text/javascript" src="../js/vendor/jquery.js"></script>
		<script type="text/javascript" src="../js/vendor/foundation.js"></script>
		<script type='text/javascript' src='../js/script.js'></script>
	</head>
	<body>
		<ul>
			<li class="bar"><b><a href="../index.html">HOME</a></b></li>
			<li class="bar"><b><a href="about.html">ABOUT</a></b></li>
			<li class="bar"><b><a href="contact.html">CONTACT</a></b></li>
			<li class="bar"><b><a href="CS170.html">CS170</a></b></li>
			<li class="bar"><b><a href="projects.html">PROJECTS</a></b></li>
		</ul>
		<div class="two-brs"></div>
		<div class="text-center">
			<div class="title"><img src="../assets/images/cs170.png"></div>
		</div>
		<div class="two-brs"></div>
		<div class="two-brs"></div>
		<div class="row">
			<h5 class="delay1">Recitation section information for the course - <b>CS170: Comp Apps for Business</b>.</h5>
		</div>
		<div class="two-brs"></div>
		<div class="row">
			<div class="large-6 columns">
				<div class="underline">
					<h5 class="delay2">Basic Information:</h5>
				</div>
				<ul class="delay2">
					<li class="table"><div class="label-170"><b>Semester:</b></div> <i>Fall 2016</i></li>
					<div class="two-brs"></div>
					<li class="table"><div class="label-170"><b>Sections:</b></div></li>
					<ul>
						<li class="table"><i>34 - Monday, 1:55 to 2:50PM, Livingston</i></li>
						<li class="table"><i>36 - Wednesday, 1:55 to 2:50PM, Livingston</i></li>
					</ul>
					<div class="two-brs"></div>
					<li class="table"><div class="label-170"><b>Office Hours:</b></div> <i>TBD, Hill Center 378 (Busch)</i></li>
					<div class="two-brs"></div>
					<li class="table"><div class="label-170"><b>Lab Support Hours:</b></div> <i>TBD</i></li>
				</ul>
			</div>
			<div class="large-6 columns">
				<div class="underline">
					<div class="toggle">
						<h5 class="delay3">Recitation Resources (Click to toggle):</h5>
					</div>
				</div>
				<div class="text-center">
					<ul class="toggled">
						<li><i>Nothing yet!</i></li>
					</ul>
				</div>
				</center>
			</div>
		</div>
	</body>
</html>
