<!DOCTYPE html>
<html lang="en">
<head>
    <title>CS 170</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="Information and resources for the Rutgers undergraduate business course: Computer Applications for Business.">
    <meta name="author" content="Edmond Wu">
    <link rel="shortcut icon" type="image/x-icon" href="../assets/images/favicon.ico"/>
    <link rel="stylesheet" href="../css/vendor/foundation.min.css"/>
    <link rel="stylesheet" href="../css/app.css"/>

    <script type="text/javascript" src="../js/vendor/jquery.min.js"></script>
    <script type="text/javascript" src="../js/vendor/foundation.min.js"></script>
    <script type='text/javascript' src='../js/app.js'></script>
</head>
<body>
<div class="show-for-small-only row two-brs title">
    <table>
        <tr>
            <td class="text-center mobile-table"><b><a href="../index.html">HOME</a></b></td>
            <td class="text-center mobile-table"><b><a href="../views/about.html">ABOUT</a></b></td>
        </tr>
        <tr>
            <td class="text-center mobile-table"><b><a href="../views/contact.html">CONTACT</a></b></td>
            <td class="text-center mobile-table"><b><a href="../views/projects.html">PROJECTS</a></b></td>
        </tr>
    </table>
</div>
<ul class="show-for-medium two-brs title">
    <li class="bar"><b><a href="../index.html">HOME</a></b></li>
    <li class="bar"><b><a href="about.html">ABOUT</a></b></li>
    <li class="bar"><b><a href="contact.html">CONTACT</a></b></li>
    <li class="bar"><b><a href="projects.html">PROJECTS</a></b></li>
    <li class="bar"><b><a href="CS170.html">CS170</a></b></li>
</ul>
<div class="text-center two-brs title">
    <h1><img src="../assets/images/cs170.png" alt="cs170"></h1>
</div>
<div class="two-brs"></div>
<div class="row two-brs delay1">
    <h5 class="no-hover">Recitation section information for the course - <b>CS170: Comp Apps for Business</b>.</h5>
</div>
<div class="row">
    <div class="small-12 large-6 columns">
        <div class="underline delay2">
            <h5>Basic Information:</h5>
        </div>
        <ul class="delay2">
            <li class="black-table two-brs">
                <div class="label-170"><b>Semester:</b></div>
                <i>Fall 2016</i></li>
            <li class="black-table">
                <div class="label-170"><b>Sections:</b></div>
            </li>
            <ul class="two-brs">
                <li class="black-table"><i>34 - Monday, 1:55 to 2:50PM, Livingston</i></li>
                <li class="black-table"><i>36 - Wednesday, 1:55 to 2:50PM, Livingston</i></li>
            </ul>
            <li class="black-table two-brs">
                <div class="label-170"><b>Office Hours:</b></div>
                <i>TBD, Hill Center 378 (Busch)</i></li>
            <li class="black-table">
                <div class="label-170"><b>Lab Support Hours:</b></div>
                <i>TBD</i></li>
        </ul>
    </div>
    <div class="small-12 large-6 columns">
        <div class="one-br show-for-small-only"></div>
        <div class="underline toggle">
            <h5 class="delay3">Recitation Resources (Click to toggle):</h5>
        </div>
        <div class="text-center toggled">
            <ul>
                <li><i>Nothing yet!</i></li>
            </ul>
        </div>
        </center>
    </div>
</div>
</body>
</html>
