<div class="container">
    <div class="center two-brs">
        <h1><img src="assets/images/cs170.png" alt="cs170"></h1>
    </div>
    <div class="two-brs"></div>
    <div class="center row two-brs">
        <h5 class="smaller no-hover">Recitation information for: <b>CS 170: Comp Apps for Business</b>.</h5>
    </div>
    <div class="row">
        <div class="s12 l6 col">
            <div class="center">
                <h5 class="smaller"><b>Basic Information:</b></h5>
            </div>
            <ul>
                <li class="two-brs">
                    <div class="label-170"><b>Semester:</b></div>
                    <i>Spring 2017</i>
                </li>
                <li>
                    <div class="label-170"><b>Sections:</b></div>
                </li>
                <ul class="two-brs">
                    <li><i>2 - Tuesday, 10:35 to 11:30AM, Livingston, Tillett 106 J1</i></li>
                    <li><i>3 - Tuesday, 12:15 to 1:10PM, Busch, ARC 116</i></li>
                    <li><i>35 - Wednesday, 3:35 to 4:30PM, Livingston, Tillett 106 J1</i></li>
                </ul>
                <li class="two-brs">
                    <div class="label-170"><b>Office Hours:</b></div>
                    <i>Tuesday, 1:30 to 2:30PM, Busch, Hill Center 378</i>
                </li>
                <li>
                    <div class="label-170"><b>Lab Support Hours:</b></div>
                    <i>Thursday, 1:30 to 3:30PM, Livingston, Tillett Computer Lab</i>
                </li>
            </ul>
        </div>
        <div class="s12 l6 col center">
            <div class="one-br hide-on-med-and-up"></div>
            <article>
                <button slider-toggle class="btn waves-effect waves-light larger">Recitation Resources</button>
                <div slider>
                    <ul>
                        <li><i><a href="assets/pdfs/170-ta-info.pdf" target="_blank">TA/Recitation Information</a></i></li>
                        <li><i><a href="assets/pdfs/number-conversions.pdf" target="_blank">Number Base Conversions</a></i></li>
                        <li><i><a href="assets/pdfs/intro-html.pdf" target="_blank">Intro to HTML PDF</a></i></li>
                        <li><i><a href="assets/misc/webpage.zip" target="_blank">HTML example</a></i></li>
                        <li><i><a href="assets/pdfs/html-css.pdf" target="_blank">More HTML and Intro to CSS PDF</a></i></li>
                        <li><i><a href="assets/misc/html-css.zip" target="_blank">HTML/CSS Example</a></i></li>
                        <!--<li><i><a href="assets/pdfs/Flowcharts.pdf" target="_blank">Flowcharts/Algorithms</a></i></li>-->
                        <li><i><a href="assets/misc/introToJs.html" target="_blank">Intro to Javascript</a></i></li>
                        <li><i><a href="assets/misc/functions.html" target="_blank">Functions & Basic Event Handling</a></i></li>
                        <li><i><a href="assets/misc/events.html" target="_blank">More Event Handling</a></i></li>
                        <li><i><a href="assets/misc/loopsArrays.html" target="_blank">Arrays and Loops</a></i></li>
                        <!--<li><i><a href="assets/misc/Example1.xlsx" target="_blank">Excel File 1</a></i></li>-->
                        <!--<li><i><a href="assets/misc/Example1_Solution.xlsx" target="_blank">Excel File 1 Solution</a></i></li>-->
                        <!--<li><i><a href="assets/misc/review.html" target="_blank">Exam 2 Review HTML file</a></i></li>-->
                        <!--<li><i><a href="assets/misc/Example2.xlsx" target="_blank">Excel File 2</a></i></li>-->
                        <!--<li><i><a href="assets/misc/Example2_Solution.xlsx" target="_blank">Excel File 2 Solution</a></i></li>-->
                        <!--<li><i><a href="assets/misc/Example3.xlsx" target="_blank">Excel File 3</a></i></li>-->
                        <!--<li><i><a href="assets/misc/Example3_Solution.xlsx" target="_blank">Excel File 3 Solution</a></i></li>-->
                    </ul>
                </div>
            </article>
        </div>
    </div>
</div>