<!DOCTYPE html>
<html lang="en">
<head>
    <title>CS 170</title>

    <!-- Meta Tags & Favicon -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="Information and resources for the Rutgers undergraduate business course: Computer Applications for Business.">
    <meta name="author" content="Edmond Wu">
    <link rel="shortcut icon" type="image/x-icon" href="../assets/images/favicon.ico"/>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="../css/vendor/foundation.min.css"/>
    <link rel="stylesheet" href="../css/app.css"/>

    <!-- Javascript -->
    <script type="text/javascript" src="../js/vendor/jquery.min.js" defer></script>
    <script type="text/javascript" src="../js/app.js" defer></script>
</head>
<body>
<div class="top-bar two-brs title">
    <div class="top-bar-left">
        <ul class="menu name">
            <li class="text-center"><a href="../index.html"><b>Edmond Wu - Developer</b></a></li>
        </ul>
    </div>
    <div class="top-bar-right pad-right show-for-medium">
        <ul class="menu nav">
            <li><a href="about.html">ABOUT</a></li>
            <li><a href="projects.html">PROJECTS</a></li>
            <li><a href="CS170.html">CS170</a></li>
            <li><a href="contact.html" class="button">CONTACT</a></li>
        </ul>
    </div>
</div>
<div class="text-center two-brs title">
    <h1><img src="../assets/images/cs170.png" alt="cs170"></h1>
</div>
<div class="two-brs"></div>
<div class="row two-brs delay1">
    <h5 class="no-hover">Recitation section information for the course - <b>CS170: Comp Apps for Business</b>.</h5>
</div>
<div class="row">
    <div class="small-12 large-6 columns">
        <div class="underline delay2">
            <h5>Basic Information:</h5>
        </div>
        <ul class="delay2">
            <li class="black-table two-brs">
                <div class="label-170"><b>Semester:</b></div>
                <i>Fall 2016</i></li>
            <li class="black-table">
                <div class="label-170"><b>Sections:</b></div>
            </li>
            <ul class="two-brs">
                <li class="black-table"><i>34 - Monday, 1:55 to 2:50PM, Livingston</i></li>
                <li class="black-table"><i>36 - Wednesday, 1:55 to 2:50PM, Livingston</i></li>
            </ul>
            <li class="black-table two-brs">
                <div class="label-170"><b>Office Hours:</b></div>
                <i>TBD, Hill Center 378 (Busch)</i></li>
            <li class="black-table">
                <div class="label-170"><b>Lab Support Hours:</b></div>
                <i>TBD</i></li>
        </ul>
    </div>
    <div class="small-12 large-6 columns text-center">
        <div class="one-br show-for-small-only"></div>
        <button class="button larger toggle delay2">Recitation Resources</button>
        <div class="toggled">
            <ul>
                <li><i>Nothing yet!</i></li>
            </ul>
        </div>
        </center>
    </div>
</div>
</body>
</html>
