<div>
    <div class="center two-brs">
        <h1><img src="assets/images/cs170.png" alt="cs170"></h1>
    </div>
    <div class="two-brs"></div>
    <div class="center container row two-brs">
        <h5 class="smaller no-hover">Recitation information for: <b>CS 170: Comp Apps for Business</b>.</h5>
    </div>
    <div class="row container">
        <div class="s12 l6 col">
            <div class="underline center">
                <h5 class="smaller">Basic Information:</h5>
            </div>
            <ul>
                <li class="two-brs">
                    <div class="label-170"><b>Semester:</b></div>
                    <i>Fall 2016</i></li>
                <li>
                    <div class="label-170"><b>Sections:</b></div>
                </li>
                <ul class="two-brs">
                    <li><i>34 - Monday, 1:55 to 2:50PM, Livingston</i></li>
                    <li><i>36 - Wednesday, 1:55 to 2:50PM, Livingston</i></li>
                </ul>
                <li class="two-brs">
                    <div class="label-170"><b>Office Hours:</b></div>
                    <i>TBD, Hill Center 378 (Busch)</i></li>
                <li>
                    <div class="label-170"><b>Lab Support Hours:</b></div>
                    <i>TBD</i></li>
            </ul>
        </div>
        <div class="s12 l6 col center">
            <div class="one-br hide-on-med-and-up"></div>
            <article>
                <button slider-toggle class="btn waves-effect waves-light larger">Recitation Resources</button>
                <div slider>
                    <ul>
                        <li><i>Nothing yet!</i></li>
                    </ul>
                </div>
            </article>
        </div>
    </div>
</div>