<div class="center container">
    <div class="two-brs"></div>
    <div class="two-brs"><img src="assets/images/hello-world.png" class="responsive-img" alt="hello world"></div>
    <div class="one-br"><img src="assets/images/code_monkey.jpg" class="responsive-img" alt="code monkey"></div>
    <h1 class="hidden">Edmond Wu - Developer</h1>
    <div class="hide-on-small-and-down typed">
        <h5>Code monkey fresh out of training.</h5>
    </div>
    <div class="hide-on-med-and-up">
        <h5 class="smaller">Code monkey fresh out of training.</h5>
    </div>
    <div class="two-brs center">
      <p class="seven-brs-above">
        &copy2017 Edmond Wu. All rights reserved.
      </p>
    </div>
</div>
