<div class="center">
    <div class="two-brs"></div>
    <div class="two-brs"><img src="assets/images/hello-world.png" class="responsive-img" alt="hello world"></div>
    <div class="one-br"><img src="assets/images/code_monkey.jpg" class="responsive-img" alt="code monkey"></div>
    <h1 class="hidden">Edmond Wu - Developer</h1>
    <div class="hide-on-small-and-down">
        <h5><span class="typed">Code monkey in training.</span></h5>
    </div>
    <div class="container one-br hide-on-med-and-up">
        <h5>Code monkey in training.</h5>
    </div>
    <div class="hide-on-large-only row">
        <ul class="center">
            <li><a href="#about">ABOUT</a></li>
            <li><a href="#projects">PROJECTS</a></li>
            <li><a href="#cs170">CS170</a></li>
            <li><a href="#contact" class="btn">CONTACT</a></li>
        </ul>
    </div>
</div>