<div class="text-center">
    <div class="two-brs title"><img src="assets/images/hello-world.png" alt="hello world"></div>
    <div class="one-br delay1"><img src="assets/images/code_monkey.jpg" alt="code monkey"></div>
    <h1 class="hidden text-center">Edmond Wu - Developer</h1>
    <div class="show-for-medium">
        <h5><span class="typed">Code monkey in training.</span></h5>
    </div>
    <div class="show-for-small-only row">
        <ul class="text-center delay2">
            <li><a href="#about">ABOUT</a></li>
            <li><a href="#projects">PROJECTS</a></li>
            <li><a href="#cs170">CS170</a></li>
            <li><a href="#contact" class="button">CONTACT</a></li>
        </ul>
    </div>
</div>