<div class="container center">
  <h1><img src="assets/images/projects.png" class="responsive-img" title="Projects" alt="projects title logo"></h1>
  <h2>
    <a href="https://github.com/Edmond-Wu" target="_blank" class="waves-effect">
      <i class="mdi mdi-github-box"></i>
    </a>
  </h2>
  <h5 class="two-brs">Github: Edmond-Wu</h5>
  <div class="two-brs">
    <h5 class="much-larger">Some projects I have worked on! <i class="mdi mdi-emoticon-cool"></i></h5>
  </div>
  <article class="two-brs">
    <div slider-toggle class="btn larger waves-effect waves-light one-br red">
      Web Apps
    </div>
    <div slider>
      <table>
        <tr data-ng-repeat="project in webProjs">
          <td data-ng-bind-html="project.title" class="projTitle"></td>
          <td data-ng-bind-html="project.description"></td>
        </tr>
      </table>
    </div>
  </article>
  <article>
    <div slider-toggle class="btn larger waves-effect waves-light one-br blue">
      Other Projects
    </div>
    <div slider>
      <table>
        <tr data-ng-repeat="project in otherProjs">
          <td data-ng-bind-html="project.title" class="projTitle"></td>
          <td data-ng-bind-html="project.description"></td>
        </tr>
      </table>
    </div>
  </article>
</div>
