<!DOCTYPE html>
<html lang="en">
<head>
    <title>Programming Projects</title>

    <!-- Meta Tags & Favicon -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="A list of programming projects worked on, ranging from school-related to personal.">
    <meta name="author" content="Edmond Wu">
    <link rel="shortcut icon" type="image/x-icon" href="../assets/images/favicon.ico"/>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="../css/vendor/foundation.min.css"/>
    <link rel="stylesheet" href="../css/app.css"/>

    <!-- Javascript -->
    <script type="text/javascript" src="../js/vendor/jquery.min.js" defer></script>
    <script type="text/javascript" src="../js/app.js" defer></script>
</head>
<body>
<div class="top-bar two-brs title">
    <div class="top-bar-left">
        <ul class="menu name">
            <li class="text-center"><a href="../index.html"><b>Edmond Wu - Developer</b></a></li>
        </ul>
    </div>
    <div class="top-bar-right pad-right show-for-medium">
        <ul class="menu nav">
            <li><a href="about.html">ABOUT</a></li>
            <li><a href="projects.html">PROJECTS</a></li>
            <li><a href="CS170.html">CS170</a></li>
            <li><a href="contact.html" class="button">CONTACT</a></li>
        </ul>
    </div>
</div>
<div class="text-center two-brs title">
    <h1><img src="../assets/images/projects.png" alt="projects"></h1>
</div>
<div class="row two-brs delay1">
    <h5 class="no-hover">Some projects I have been working on!</h5>
</div>
<div class="row text-center one-br underline delay2">
    <button class="button larger toggle">Projects:</button>
</div>
<div class="row toggled">
    <table>
        <tr>
            <td class="black-table">
                <a href="https://github.com/The-WUUSTER/Project-Reports" target="_blank"><b>Project Reports:</b></a>
            </td>
            <td class="black-table">
                Web application built using AngularJS and Foundation CSS with a NodeJS/Express back-end. Users
                submit project reports and log savings in money and productivity.
            </td>
        </tr>
        <tr>
            <td class="black-table">
                <a href="http://imgur.com/a/KjLsx" target="_blank"><b>Redditer:</b></a>
            </td>
            <td class="black-table">
                Chat messaging application that aims to bring together people who subscribe to various Reddit
                subreddits! Hosted by Amazon Web Services. App is no longer hosted so an Imgur album is provided instead.
            </td>
        </tr>
        <tr>
            <td class="black-table">
                <a href="../assets/unity/td.html" target="_blank"><b><i>Tower Defense:</i></b></a>
            </td>
            <td class="black-table">
                A basic tower defense game with a geometric/cube theme with some dank memes. Made using Unity 5
                with C#; requires <a href="http://unity3d.com/webplayer/" target="_blank"><i>this corresponding
                plug-in to work.</i></a>
            </td>
        </tr>
        <tr>
            <td class="black-table">
                <a href="../assets/unity/interstellar_shooter.html" target="_blank"><b><i>Interstellar
                    Shooter:</i></b></a>
            </td>
            <td class="black-table">
                Game resembling a classic space-shooter arcade. Made using Unity 5 with C# scripts. Also needs
                the <a href="http://unity3d.com/webplayer/" target="_blank"><i>Unity plugin.</i></a>
            </td>
        </tr>
        <tr>
            <td class="black-table">
                <a href="../assets/unity/rolling_ball.html" target="_blank"><b><i>Rolling Ball:</i></b></a>
            </td>
            <td class="black-table">
                Unity tutorial rolling ball game where users move a ball around to collect objects; requires the
                Unity plug-in.
            </td>
        </tr>
        <tr>
            <td class="black-table">
                <a href="http://devpost.com/software/insightweet" target="_blank"><b><i>Insightweets:</i></b></a>
            </td>
            <td class="black-table">
                HackNY 2015 group hack using IBM's Bluemix algorithm to find out what people are like based on
                their tweets (won best IBM hack!)
            </td>
        </tr>
        <tr>
            <td class="black-table">
                <a href="https://github.com/The-WUUSTER/PhotoAlbum" target="_blank"><b><i>Photo
                    Album:</i></b></a>
            </td>
            <td class="black-table">
                JavaFX CRUD application resembling a photo album. Users can add/edit/delete albums and photos,
                as well as view/like other users' photos.
            </td>
        </tr>
        <tr>
            <td class="black-table">
                <a href="https://github.com/The-WUUSTER/Chess" target="_blank"><b><i>Chess:</i></b></a>
            </td>
            <td class="black-table">
                Java project that simulates a complete 2-player chess game with all competitive rules in
                terminal.
            </td>
        </tr>
        <tr>
            <td class="black-table">
                <a href="https://github.com/The-WUUSTER/Android-Books" target="_blank"><b><i>Android Books:</i></b></a>
            </td>
            <td class="black-table">
                Android book database application that allows for users to subscribe to books to receive new
                chapter updates.
            </td>
        </tr>
        <tr>
            <td class="black-table">
                <a href="https://github.com/The-WUUSTER/CodeSkulptorProjects" target="_blank"><b><i>CodeSkulptor
                    Projects:</i></b></a>
            </td>
            <td class="black-table">
                A repository containing a compilation of Python mini-projects built with the CodeSkulptor Python API.
                Load and run them in <a href="https://www.codeskulptor.org/">CodeSkulptor here</a>.
            </td>
        </tr>
    </table>
</div>
</body>
</html>
