<div class="center container">
    <div class="two-brs">
        <h1><img src="assets/images/projects.png" class="responsive-img" alt="projects"></h1>
    </div>
    <div class="two-brs">
        <h5 class="smaller no-hover">Some projects I have worked on!</h5>
    </div>
    <article class="two-brs">
        <div slider-toggle class="btn larger waves-effect waves-light one-br">
            Web Apps
        </div>
        <div slider>
            <table>
                <tr>
                    <td class="left-align">
                        <a href="https://github.com/amaczugowski/node-project-server" target="_blank"><b><i>Project Reports:</i></b></a>
                    </td>
                    <td class="left-align">
                        Web application built using AngularJS and Foundation CSS with a NodeJS/Express back-end. Users
                        submit project reports and log savings in money and productivity.
                    </td>
                </tr>
                <tr>
                    <td class="left-align">
                        <a href="http://imgur.com/a/KjLsx" target="_blank"><b><i>Redditer:</i></b></a>
                    </td>
                    <td class="left-align">
                        Chat messaging application that aims to bring together people who subscribe to various Reddit
                        subreddits! Hosted by Amazon Web Services. App is no longer hosted so an Imgur album is provided instead.
                    </td>
                </tr>
                <tr>
                    <td class="left-align">
                        <a href="https://github.com/The-WUUSTER/chat" target="_blank"><b><i>Socket Chat:</i></b></a>
                    </td>
                    <td class="left-align">
                        Another chat application, built using socket.io! Users can log in, view other logged-on users, and change their message colors.
                        Front-end designed with AngularJS and Materialize CSS.
                    </td>
                </tr>
                <tr>
                    <td class="left-align">
                        <a href="https://rutgerstc.github.io" target="_blank"><b><i>Rutgers Tzu-Ching:</i></b></a>
                    </td>
                    <td class="left-align">
                        AngularJS website for the Rutgers chapter of the Tzu-Chi Collegiate Association.
                    </td>
                </tr>
                <tr>
                    <td class="left-align">
                        <a href="http://devpost.com/software/insightweet" target="_blank"><b><i>Insightweets:</i></b></a>
                    </td>
                    <td class="left-align">
                        HackNY 2015 group web hack using IBM's Bluemix algorithm to find out what people are like based on
                        their tweets (won best IBM hack!)
                    </td>
                </tr>
            </table>
        </div>
    </article>
    <article>
        <div slider-toggle class="btn larger waves-effect waves-light one-br">
            Other Projects
        </div>
        <div slider>
            <table>
                <tr>
                    <td class="left-align">
                        <a href="../assets/unity/td.html" target="_blank"><b><i>Tower Defense:</i></b></a>
                    </td>
                    <td class="left-align">
                        A basic tower defense game with a geometric/cube theme with some dank memes. Made using Unity 5
                        with C#; requires <a href="http://unity3d.com/webplayer/" target="_blank"><i>this corresponding
                        plug-in to work.</i></a>
                    </td>
                </tr>
                <tr>
                    <td class="left-align">
                        <a href="../assets/unity/interstellar_shooter.html" target="_blank"><b><i>Interstellar
                            Shooter:</i></b></a>
                    </td>
                    <td class="left-align">
                        Game resembling a classic space-shooter arcade. Made using Unity 5 with C# scripts. Also needs
                        the <a href="http://unity3d.com/webplayer/" target="_blank"><i>Unity plugin.</i></a>
                    </td>
                </tr>
                <tr>
                    <td class="left-align">
                        <a href="../assets/unity/rolling_ball.html" target="_blank"><b><i>Rolling Ball:</i></b></a>
                    </td>
                    <td class="left-align">
                        Unity tutorial rolling ball game where users move a ball around to collect objects; requires the
                        Unity plug-in.
                    </td>
                </tr>
                <tr>
                    <td class="left-align">
                        <a href="https://github.com/The-WUUSTER/PhotoAlbum" target="_blank"><b><i>Photo
                            Album:</i></b></a>
                    </td>
                    <td class="left-align">
                        JavaFX CRUD application resembling a photo album. Users can add/edit/delete albums and photos,
                        as well as view/like other users' photos.
                    </td>
                </tr>
                <tr>
                    <td class="left-align">
                        <a href="https://github.com/The-WUUSTER/Chess" target="_blank"><b><i>Chess:</i></b></a>
                    </td>
                    <td class="left-align">
                        Java project that simulates a complete 2-player chess game with all competitive rules in
                        terminal.
                    </td>
                </tr>
                <tr>
                    <td class="left-align">
                        <a href="https://github.com/The-WUUSTER/Android-Books" target="_blank"><b><i>Android Books:</i></b></a>
                    </td>
                    <td class="left-align">
                        Android book database application that allows for users to subscribe to books to receive new
                        chapter updates.
                    </td>
                </tr>
                <tr>
                    <td class="left-align">
                        <a href="https://github.com/The-WUUSTER/CodeSkulptorProjects" target="_blank"><b><i>CodeSkulptor
                            Projects:</i></b></a>
                    </td>
                    <td class="left-align">
                        A repository containing a compilation of Python mini-projects built with the CodeSkulptor Python API.
                        Load and run them in <a href="https://www.codeskulptor.org/">CodeSkulptor here</a>.
                    </td>
                </tr>
            </table>
        </div>
    </article>
</div>
