<div class="container">
  <h1 class="center"><img src="assets/images/resume.png" class="responsive-img" title="Résumé" alt="résumé title logo"></h1>
  <div class="row">
    <h5>EDUCATION</h5>
    <hr>
    <div class="s6 col">
      <p>
        <b>Rutgers University, School of Arts and Sciences</b><br>
        <i>Bachelor of Science in Computer Science</i>, Magna Cum Laude
      </p>
    </div>
    <div class="s6 col right-align">
      <p>
        September 2013 - May 2017
      </p>
    </div>
  </div>
  <div class="row">
    <h5>WORK EXPERIENCE</h5>
    <hr>
    <div class="s6 col">
      <p>
        <b>Harris Corporation</b><br>
        <i>Software Engineer</i>
      </p>
    </div>
    <div class="s6 col right-align">
      <p>
        June 2017 - Present<br>
        <i>Clifton, NJ</i>
      </p>
    </div>
    <div class="s12 col">
      <ul class="resume-list one-br">
        <li>Worked under the Space & Intelligence Systems segment on the GPS OCX (Operational Control System) project, specifically on the Navigation (NAV) software portion.</li>
        <li>Developed and worked on portions of the Java part of NAV. Tasks include coding new units of work, writing/fixing unit tests, and updating existing configuration items.</li>
        <li>Designed code outlines, class and sequence diagrams for new/upcoming units of work for NAV, including performance displays and enterprise service updates.</li>
        <li>Helped shift NAV from its 1.6 iteration to its 1.7 iteration by updating the codebase’s schema and service references to ensure build success.</li>
      </ul>
    </div>
    <div class="s6 col">
      <p>
        <b>Harris Corporation</b><br>
        <i>Software Engineering Intern</i>
      </p>
    </div>
    <div class="s6 col right-align">
      <p>
        May 2016 - July 2016<br>
        <i>Herndon, VA</i>
      </p>
    </div>
    <div class="s12 col">
      <ul class="resume-list one-br">
        <li>Helped develop a full-stack web application for the Harris Business Excellence program that tracks project productivity, letting project managers to submit logs and generate PDF reports.</li>
        <li>Primarily contributed to front-end design, using AngularJS and Foundation CSS frameworks and ensuring smooth integration with NodeJS/Express back-end REST services.</li>
      </ul>
    </div>
    <div class="s6 col">
      <p>
        <b>Rutgers University</b><br>
        <i>Part-time Lecturer/Teaching Assistant</i>
      </p>
    </div>
    <div class="s6 col right-align">
      <p>
        January 2015 - May 2017<br>
        <i>Piscataway, NJ</i>
      </p>
    </div>
    <div class="s12 col">
      <ul class="resume-list one-br">
        <li>Taught students in course recitations of up to 25 students per section how to design webpages in HTML/CSS and write JavaScript programs. Presented lessons in HTML/CSS, JavaScript, and Microsoft Excel.</li>
        <li>Hosted computer lab and office hours for extra help, graded assessments, and helped proctor exams.</li>
        <li>Scored ratings well above the average for TA’s in the Rutgers computer science department.</li>
      </ul>
    </div>
    <div class="s6 col">
      <p>
        <b>Dong Hwa University</b><br>
        <i>Computer Science & Information Engineering Intern</i>
      </p>
    </div>
    <div class="s6 col right-align">
      <p>
        June 2015 - August 2015<br>
        <i>Hualien, Taiwan</i>
      </p>
    </div>
    <div class="s12 col">
      <ul class="resume-list">
        <li>Performed research with department faculty on the Unity3D game engine and developed several games with it using self-written C# scripts.</li>
        <li>Created games were presented at a research conference and saved to serve as a basis for the development of future games.</li>
        <li>Taught conversational English skills to department members, enabling them to hold basic conversations without assistance.</li>
      </ul>
    </div>
  </div>
</div>
