<div class="container">
  <h1 class="center one-br"><img src="assets/images/resume.png" class="responsive-img" title="Résumé" alt="résumé title logo"></h1>
  <!-- Experience -->
  <div class="row one-br">
    <article>
      <div slider-toggle class="s12 m4 l3 col btn waves-effect waves-light one-br blue pad-bottom">
        <h5>EXPERIENCE</h5>
      </div>
      <div slider class="s12 col">
        <hr>
        <table>
          <tr>
            <td class="no-padding"><b>L3Harris Technologies</b> (formerly Harris Corporation)</td>
            <td class="no-padding right-align">June 2017 - Present</td>
          </tr>
          <tr>
            <td class="no-padding"><i>Associate Software Engineer</i></td>
            <td class="no-padding right-align"><i>Clifton, NJ</i></td>
          </tr>
          <tr>
            <td class="no-padding pad-top" colspan="2">
              Worked under the Space & Airborne Systems segment on the GPS OCX (Operational Control System) project, specifically on the Navigation (NAV) software portion.
            </td>
          </tr>
          <tr>
            <td class="no-padding" colspan="2">
              Helped shift NAV from its 1.6 iteration to its 1.7 iteration by updating the codebase’s schema and service references to ensure build success.
            </td>
          </tr>
          <tr>
            <td class="no-padding" colspan="2">
              Participated in NAV 1.7’s DCUT (development) and SWIC (integration testing) phases, with responsibilities ranging from developing/unittesting
              new units of work to assisting with integration testing to ensure requirements pass.
            </td>
          </tr>
          <tr>
            <td></td>
          </tr>
          <tr>
            <td class="no-padding pad-top"><b>Harris Corporation</b></td>
            <td class="no-padding pad-top right-align">May 2016 - July 2016</td>
          </tr>
          <tr>
            <td class="no-padding"><i>Software Engineering Intern</i></td>
            <td class="no-padding right-align"><i>Herndon, VA</i></td>
          </tr>
          <tr>
            <td class="no-padding pad-top" colspan="2">
              Helped develop a full-stack web application for the Harris Business Excellence program that tracks project productivity, letting project managers to submit logs and generate PDF reports.
            </td>
          </tr>
          <tr>
            <td class="no-padding" colspan="2">
              Primarily contributed to front-end design, using AngularJS and Foundation CSS frameworks and ensuring smooth integration with NodeJS/Express back-end REST services.
            </td>
          </tr>
          <tr>
            <td></td>
          </tr>
          <tr>
            <td class="no-padding pad-top"><b>Rutgers University</b><br></td>
            <td class="no-padding pad-top right-align">January 2015 - May 2017</td>
          </tr>
          <tr>
            <td class="no-padding"><i>Part-time Lecturer/Teaching Assistant</i></td>
            <td class="no-padding right-align"><i>Piscataway, NJ</i></td>
          </tr>
          <tr>
            <td class="no-padding pad-top" colspan="2">
              Taught students in course recitations of up to 25 students per section how to design webpages in HTML/CSS and write JavaScript programs. Presented lessons in HTML/CSS, JavaScript, and Microsoft Excel.
            </td>
          </tr>
          <tr>
            <td class="no-padding" colspan="2">
              Hosted computer lab and office hours for extra help, graded assessments, and helped proctor exams.
            </td>
          </tr>
          <tr>
            <td class="no-padding" colspan="2">
              Scored ratings well above the average for TA’s in the Rutgers computer science department.
            </td>
          </tr>
        </table>
      </div>
    </article>
  </div>
  <!-- Education -->
  <div class="row one-br">
    <article>
      <div slider-toggle class="s12 m4 l3 col btn waves-effect waves-light one-br red pad-bottom">
        <h5>EDUCATION</h5>
      </div>
      <div slider class="s12 col">
        <hr>
        <table>
          <tr>
            <td class="no-padding"><b>Rutgers University, School of Arts and Sciences</b></td>
            <td class="no-padding right-align">September 2013 - May 2017</td>
          </tr>
          <tr>
            <td class="no-padding"><i>Bachelor of Science in Computer Science</i>, Magna Cum Laude</td>
          </tr>
        </table>
      </div>
    </article>
  </div>
  <!-- Skills -->
  <div class="row">
    <article>
      <div slider-toggle class="s12 m4 l3 col btn waves-effect waves-light one-br green pad-bottom">
        <h5>SKILLS</h5>
      </div>
      <div slider class="s12 col">
        <hr />
        <table>
          <tr>
            <td class="no-padding"><b>Languages:</b></td>
          </tr>
          <tr>
            <td class="no-padding pad-top" colspan="2">Java, HTML5/CSS, Javascript, Python, C, LaTeX</td>
          </tr>
          <tr>
            <td></td>
          </tr>
          <tr>
            <td class="no-padding"><b>Frameworks/Libraries:</b></td>
          </tr>
          <tr>
            <td class="no-padding pad-top" colspan="2">angularJS, jQuery, Bootstrap-type CSS Frameworks, Gradle</td>
          </tr>
          <tr>
            <td></td>
          </tr>
          <tr>
            <td class="no-padding"><b>Tools/OS:</b></td>
          </tr>
          <tr>
            <td class="no-padding pad-top" colspan="2">Linux OS, NPM, Unity3D Game Engine, Git, Atlassian Jira</td>
          </tr>
        </table>
      </div>
    </article>
  </div>
</div>
