vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|08 Mar 2015 11:19:08 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|My\\ website/public_html/contact.html My\\ website/public_html/index.html My\\ website/public_html/projects.html My\\ website/public_html/CS170.html
vti_author:SR|EDMOND\\EdmondWu
vti_modifiedby:SR|EDMOND\\EdmondWu
vti_timecreated:TR|08 Mar 2015 09:08:15 -0000
vti_cacheddtm:TX|08 Mar 2015 11:19:08 -0000
vti_filesize:IR|1737
